---
const { lang } = Astro.props
const header = lang.header
---

<header class="py-8 max-w-xl lg:py-16">
    <h1 class="text-5xl font-bold text-slate-700 dark:text-slate-100">Aaron</h1>
    <span class="text-4xl font-bold text-slate-700 dark:text-slate-100"
        >Pérez Alfaro</span
    >
    <p class="mt-2 font-semibold text-cyan-600">
        {header.userDescription}
    </p>
    <p class="font-semibold text-cyan-600">
        {header.subDescription}
    </p>
</header>
